# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.py[cod]

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
static

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json.?

# Python virtualenv
venv/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Docker
*.log
docker-compose.override.y
