{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>departamento</title>
    <!-- Incluindo o Bootstrap (pode ser feito através de CDN ou arquivo local) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Incluindo o Navbar -->
    {% include 'navbar.html' %}
    
    <div class="container mt-5">
        <h1>Lista de Departamentos</h1>

        <!-- Exibindo os departamentos -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for departamento in departamentos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ departamento.nome }}</td>
                    <td>{{ departamento.descricao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
       
        const accessToken = localStorage.getItem('access_token');
        
        if (!accessToken) {
            alert("Token não encontrado. Redirecionando para login.");
            window.location.href = "/login/";  // Redireciona para a tela de login
        } else {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            // Validar o token com o backend
            fetch('/api/validate_token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrfToken,  // Incluindo o token CSRF no cabeçalho
                },
                body: JSON.stringify({ access_token: accessToken })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Token inválido ou expirado') {
                    // Token inválido, removendo o token do localStorage e redirecionando para login
                    localStorage.removeItem('access_token');
                    alert("Token inválido ou expirado. Redirecionando para login.");
                    window.location.href = "/login/";  // Redireciona para a tela de login
                } else {
                    // Token válido, continue na home
                    console.log("Token válido", data);
                }
            })
            .catch(error => {
                console.error('Erro na validação do token:', error);
                alert("Erro ao verificar token. Redirecionando para login.");
                localStorage.removeItem('access_token');
                window.location.href = "/login/";
            });
        }
    </script>
</body>
</html>