<!-- navbar.html -->
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #003366"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gerenciamento de perfis de funcionários</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Link para o perfil -->
        <li class="nav-item">
          <a class="nav-link" href="/perfil/" >Perfil</a>
        </li>
        <!-- Link para funcionários -->
        <li class="nav-item">
          <a class="nav-link" href="/funcionarios/">Funcionários</a>
        </li>
        <!-- Link para departamento -->
        <li class="nav-item">
          <a class="nav-link" href="/departamento/" >departamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/criar_usuario/" >Criar Usuário</a>
          <!-- Link para a página de criar usuário -->
        </li>
        <!-- Exibir nome do usuário ou botão de logout -->
        <li class="nav-item">
          <span id="userName" class="nav-link"></span>
        </li>
        <li class="nav-item">
          <button id="logoutBtn" class="btn btn-danger">Sair</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  const accessToken = localStorage.getItem("access_token");
  console.log("🚀 ~ accessToken:", accessToken);

  if (!accessToken) {
    alert("Token não encontrado. Redirecionando para login.");
    window.location.href = "/login/"; 
  } else {
    
    fetch("/api/validate_token", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}", 
      },
      body: JSON.stringify({ access_token: accessToken }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.message === "Token inválido ou expirado") {
          
          localStorage.removeItem("access_token");
          alert("Token inválido ou expirado. Redirecionando para login.");
          window.location.href = "/login/"; 
        } else {
          fetch("/api/get_perfil/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}", 
            },
            body: JSON.stringify({ access_token: accessToken }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.message === "Token válido") {
                
                console.log("🚀 ~ .then ~ data.perfil:", data.perfil)
                localStorage.setItem(
                  "user_profile",
                  data.perfil
                );
              }
            })
            .catch((error) => {
              console.error("Erro ao obter o perfil do usuário:", error);
              alert("Erro ao obter o perfil. Tente novamente.");
            });
        }
      })
      .catch((error) => {
        console.error("Erro na validação do token:", error);
        alert("Erro ao verificar token. Redirecionando para login.");
        localStorage.removeItem("access_token");
        window.location.href = "/login/";
      });
  }
  document.getElementById("logoutBtn").addEventListener("click", logout);

  function logout() {
    const refreshToken = localStorage.getItem("refresh_token"); 

    if (refreshToken) {
      
      fetch("/api/logout/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${localStorage.getItem("access_token")}`, 
        },
        body: JSON.stringify({ refresh: refreshToken }), 
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.message === "Logout realizado com sucesso!") {
            
            localStorage.removeItem("access_token");
            localStorage.removeItem("refresh_token");
            
            window.location.href = "/login/";
          } else {
            alert("Erro ao realizar logout: " + data.detail);
          }
        })
        .catch((error) => {
          console.error("Erro na requisição de logout:", error);
          alert("Erro ao tentar fazer logout. Tente novamente.");
        });
    } else {
      alert("Refresh token não encontrado.");
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    
    setTimeout(() => {
      
      const perfil = localStorage.getItem("user_profile");
  
      
      console.log("🚀 ~ document.addEventListener ~ perfil:", perfil);
      console.log("🚀 ~ document.addEventListener ~ perfil:", perfil == "gestor");
  
      if (perfil && perfil == "gestor") {
        
        const perfilLink = document.querySelector('a[href="/perfil/"]')?.parentElement;
        const departamentoLink = document.querySelector('a[href="/departamento/"]')?.parentElement;
  
        
        if (perfilLink) perfilLink.style.display = "none";
        if (departamentoLink) departamentoLink.style.display = "none";
      } else if (perfil && perfil == "funcionario") {
        
        const perfilLink = document.querySelector('a[href="/perfil/"]')?.parentElement;
        const departamentoLink = document.querySelector('a[href="/departamento/"]')?.parentElement;
        const funcionarioLink = document.querySelector('a[href="/funcionarios/"]')?.parentElement;
        const criarUsuarioLink = document.querySelector('a[href="/criar_usuario/"]')?.parentElement;
  
        
        if (perfilLink) perfilLink.style.display = "none";
        if (departamentoLink) departamentoLink.style.display = "none";
        if (funcionarioLink) funcionarioLink.style.display = "none";
        if (criarUsuarioLink) criarUsuarioLink.style.display = "none";
      }
    }, 500); 
  });
  
  
  
</script>
